{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}



    <body style="overflow-x:hidden;">
    <div class="row">
        <div class="col-4">
        </div>
        <div class="col">
            <div style="margin-top: 6rem;
                                    width: 5rem;
                                    height: 5rem;
                                    border-radius: 50%;
                                    background: linear-gradient(90deg, #1539F5 0%, #2D66C3 100%);
                                    margin-left:1.5rem">
                <img src="{% static 'img/vtb.svg' %}" style="width: 4rem;
                                                                    height: 4rem;
                                                                    margin-left: 0.25rem;
                                                                    margin-top: 0.25rem;">
            </div>
        </div>
        <div class="col-4"></div>
    </div>


    <h4 style="padding-left:7rem;
    margin-top: 3rem;">Добро пожаловать</h4>
    <form class="login" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    <div class="row" style="padding-top: 1rem; margin-left:0rem;">
        <div class="col-3"></div>
        <div class="col">
{#            <input type="text" name="login" placeholder="Логин" style="border-color: #1539F5;#}
{#                        border-radius: 20px;#}
{#                        border-width: 1.5px;#}
{#                        border-style: solid;#}
{#                        padding-top: .25rem;#}
{#                        padding-bottom: .25rem;#}
{#                        text-align: center;#}
{#                        font-size: 1rem;#}
{#                        width: 12rem;">#}
            {{ form.login }}
        </div>

        <div class="col-3"></div>

    </div>

    <div class="row" style="padding-top: 1rem; margin-left:0rem;">
        <div class="col-3"></div>
        <div class="col">
            {{ form.password }}
        </div>
        <div class="col-3"></div>

    </div>
    <div class="row" style="padding-top: 1rem; margin-left:0rem; margin-bottom: 1rem;">
        <div class="col-3"></div>
        <div class="col">
            <button type="submit" name="send" style="background: linear-gradient(90deg, #1539F5 0%, #2D66C3 100%);
                        border-radius: 20px;
                        border-width: 0px;
                        padding-top: .5rem;
                        padding-bottom: .25rem;
                        width: 12rem;">
                <h6 style="font-size: 1rem;
                                    text-align: center;
                                    color:  var(--bs-white);">Войти</h6>
            </button>
        </div>
        <div class="col-3"></div>
    </div>
        <div class="row" style="margin-left:0rem; margin-bottom: 1rem;">
        <div class="col-3"></div>
        <div class="col">
            <button type="submit" name="send" style="background: linear-gradient(90deg, #1539F5 0%, #2D66C3 100%);
                        border-radius: 20px;
                        border-width: 0px;
                        padding-top: .5rem;
                        padding-bottom: .25rem;
                        width: 12rem;">
                <a href="{{ signup_url }} "><h6 style="font-size: 1rem;
                                    text-align: center;
                                    color:  var(--bs-white);">Регистрация</h6></a>
            </button>
        </div>
        <div class="col-3"></div>
    </div>
</p>
    </form>

{% endblock %}
