{% extends "base.html" %}
{% block title %} Главная {% endblock %}

{% block body %}
    <h1>Matic: {{ matic }}</h1>
    <h1>Ruble: {{ ruble }}</h1>
    <div>Карусель с NFT</div>
    {% for nft in balance_nft %}
        <div>
            <img src="{{ nft.uri }}" alt="">
            <span>{{ nft.amount }} штук</span>
        </div>
    {% endfor %}

    <div><a href="{% url 'core:item_list' %}">Потратить</a></div>
    <div><a href="{{ user.get_absolute_url }}">История</a></div>
    <div><a href="{% url 'main:people_list' %}">Список коллег</a></div>
    <div><a href="{% url 'event_feed:event_list' %}">Список мероприятий</a></div>
{% endblock %}