{% extends "base.html" %}
{% block title %} Профиль {% endblock %}

{% block body %}
    <h1>Баланс: 4300</h1><br>

    <div>Карусель с NFT</div><br>

    {# TODO #}
    {#  if чужой профиль  #}
    {#  отправка NFT/моент  #}
    {% if user.user.id != request.user.id %}
        <form method="post">
            <h2>Отправка монет</h2>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Отправить</button>
        </form>

        <h1>отправка NFT</h1>


    {% endif %}
    <div>История</div><br>

    <a href="{% url 'main:main-page' %}">Назад</a>
{% endblock %}