{% extends "base.html" %}
{% block title %} Профиль {% endblock %}

{% block body %}
    <h1>Matic: {{ matic }}</h1>
    <h1>Ruble: {{ ruble }}</h1>
    <div>Карусель с NFT</div>
    {% for nft in balance_nft %}
        <div>
            <img src="{{ nft.uri }}" alt="" style="width: 20%">
            <span>{{ nft.amount }} штук</span>
        </div>
    {% endfor %}
    {# TODO #}
    {#  if чужой профиль  #}
    {#  отправка NFT/моент  #}
    {% if user.user.id != request.user.id %}
        <form method="post">
            <h2>Отправка Ruble монет</h2>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Отправить</button>
        </form>

        <h1>отправка NFT</h1>


    {% endif %}
    <div>История</div><br>

    <a href="{% url 'main:main-page' %}">Назад</a>
{% endblock %}